@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  padding: 0 $p-sm;
  padding-top: $p-md;
  padding-bottom: $p-md;
  font-family: "Nunito Sans", sans-serif;

  button {
    border: none;
    cursor: pointer;
  }
}
