// PADDINGS
$p-sm: 6px;
$p-md: 12px;

// COLORS
$primary-color: #605dec;
$text-primary: #1a1a1a;
$text-secondary: #808080;

// BREAKPOINT
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
